# Pandas

Pandas ayuda en el análisis y modelado de datos. 
<ul type="square" style="color:blue">
<li>Posee herramientas para leer y escribir datos entre estructuras de datos en memoria y diferentes formatos: CSV y archivos de texto(.txt), Microsoft Excel(.xls, .xlsx), json, HTML, clipboard, bases de datos SQL y el formato rápido HDF5
<li> Fácil manejo de datos faltantes (representados como NaN) en punto flotante así como datos de punto no flotante
<li> Facilite la conversión de datos irregulares e indexados de manera diferente en otras estructuras de datos de Python y NumPy en objetos DataFrame
<li> Alineación inteligente de datos y manejo integrado de datos faltantes
<li> Las columnas se pueden insertar y eliminar de las estructuras de datos (mutabilidad de tamaño)
<li> Funcionalidad de series de tiempo: generación de rango de fecha y conversión de frecuencia, estadísticas de ventana móvil, regresiones lineales de ventana móvil, desplazamiento de fecha y retraso. Incluso puede crear compensaciones de tiempo específicas del dominio y unirse a series de tiempo sin perder datos;
</ul>
Con Pandas, podemos realizar cinco pasos típicos en el procesamiento y análisis de datos, independientemente del origen de los datos: cargar, preparar, manipular, modelar y analizar.

<img src="grafico_pandas.png"  />

In [1]:
import pandas as pd

In [2]:
numeros = [1,2,3,4]
pd.Series(numeros)

0    1
1    2
2    3
3    4
dtype: int64

Se de tener en cuenta que cuando vea NAN, su significado es similar a None, pero es un valor numérico y se trata de manera diferente por razones de eficiencia.

In [3]:
import numpy as np
np.nan==None

False

##  <font color='gray'>Series</font>

Podemos pensar en las series como un cruce entre las listas y los diccionarios

In [4]:
#pd.Series?

In [5]:
ds_mascotas = {'Luis': 'Bobby',
            'Carmen': 'Kitty',
            'Rosaura': 'Chester',
            'Armando': 'Rocco'}
ds_m = pd.Series(ds_mascotas)
ds_m

Luis         Bobby
Carmen       Kitty
Rosaura    Chester
Armando      Rocco
dtype: object

In [6]:
print(type(ds_mascotas))
print(type(ds_m))

<class 'dict'>
<class 'pandas.core.series.Series'>

Los valores se guardan en <i>values</i> y los índices en <i>index</i>

In [7]:
ds_m.values

array(['Bobby', 'Kitty', 'Chester', 'Rocco'], dtype=object)

In [8]:
ds_m.index

Index(['Luis', 'Carmen', 'Rosaura', 'Armando'], dtype='object')

Otra forma de crear una serie es la siguiente:

In [9]:
ds_documentos = pd.Series(['RR 03500-R-12','RR 08655-R-18','RR 03013-R-16','RR 08455-R-18'],
                       index=['Resoluciones', 'ROF','Estatuto','Directivas'])
ds_documentos

Resoluciones    RR 03500-R-12
ROF             RR 08655-R-18
Estatuto        RR 03013-R-16
Directivas      RR 08455-R-18
dtype: object

In [10]:
ds_documentos['Resoluciones']

'RR 03500-R-12'

### Consultas

Para consultar por ubicación numérica, comenzando desde cero se usa __iloc__ . Para consultar por el índice podemos usar __loc__ . Tener en cuenta que iloc y loc no son métodos, son atributos. Así que no usan paréntesis para consultarlos, sino corchetes, que reciben el nombre de operador de indexación.

In [11]:
culturas = {'México':'Azteca',
           'Perú':'Caral',
           'Colombia':'Zenú',
           'Egipto':'Egipcia'}
ds_culturas = pd.Series(culturas)
ds_culturas

México       Azteca
Perú          Caral
Colombia       Zenú
Egipto      Egipcia
dtype: object

In [12]:
ds_culturas.iloc[0]

'Azteca'

In [13]:
ds_culturas.loc['Colombia']

'Zenú'

En el ejemplo anterior si realizamos la consulta sin el uso de <i>iloc</i> y <i>loc</i> obtendremo los mismos resultados. Pero si el parámetro es un número entero, entonces pandas no sabrá como ejecutarlo, pues no sabrá si nos referimos al índice o al valor

In [14]:
culturas = {52:'Azteca',
           51:'Caral',
           57:'Zenú',
           20:'Egipcia'}
ds_culturas = pd.Series(culturas)
ds_culturas

52     Azteca
51      Caral
57       Zenú
20    Egipcia
dtype: object

In [15]:
#ds_culturas[0]

Para evitar este problema es preferible usar <i>iloc</i> o <i>loc</i>

Si bien es importante estar al tanto de la escritura debajo, Pandas cambiará automáticamente los tipos de NumPy subyacentes según sea apropiado.

In [16]:
ds = pd.Series([1, 2, 3])
ds

0    1
1    2
2    3
dtype: int64

In [17]:
ds.loc[8] = 'américa'
ds

0          1
1          2
2          3
8    américa
dtype: object

Cuando queremos realizar una serie que posea varios indices iguales, debemos tener en cuenta el siguiente comportamiento

In [18]:
culturas = {'México':'Azteca',
           'Perú':'Caral',
           'Colombia':'Zenú',
           'Egipto':'Egipcia',
           'México':'Mazahua',
           'Colombia':'Muisca'}
ds_culturas = pd.Series(culturas)
ds_culturas

México      Mazahua
Perú          Caral
Colombia     Muisca
Egipto      Egipcia
dtype: object

In [19]:
ds_culturas['México']

'Mazahua'

In [20]:
ds_culturas = pd.Series(['Azteca','Caral','Zenú','Egipcia','Mazahua','Muisca'], 
                     index=['México','Perú','Colombia','Egipto','México','Colombia'])
ds_culturas

México       Azteca
Perú          Caral
Colombia       Zenú
Egipto      Egipcia
México      Mazahua
Colombia     Muisca
dtype: object

In [21]:
ds_culturas['México']

México     Azteca
México    Mazahua
dtype: object

## <font color='gray'>DataFrames</font>

Es un objeto bidimensional, donde hay un índice y varias columnas de contenido.
<br>Se puede crear un DataFrame de muchas maneras diferentes. Por ejemplo se puede usar un grupo de series, donde cada serie representa una fila de datos, o se podría usar un grupo de diccionarios, donde cada diccionario representa una fila de datos.

In [22]:
alumno_1 = pd.Series({'Código de Estudiante': '15520012',
                      'Nombre': 'Ivana',
                      'Edad': 22})
alumno_2 = pd.Series({'Código de Estudiante': '15520814',
                      'Nombre': 'Lorena',
                      'Edad': 24})
alumno_3 = pd.Series({'Código de Estudiante': '16520113',
                      'Nombre': 'Jorge',
                      'Edad': 26})
alumno_4 = pd.Series({'Código de Estudiante': '14520087',
                      'Nombre': 'Claudio',
                      'Edad': 21})
df_astronomia= pd.DataFrame([alumno_1, alumno_2, alumno_3,alumno_4], index=[1,2,3,4])
df_astronomia

  Código de Estudiante   Nombre  Edad
1             15520012    Ivana    22
2             15520814   Lorena    24
3             16520113    Jorge    26
4             14520087  Claudio    21

Si no se asignan índices, entonces se asignarán índices por defecto.
<br>Podemos también ordenar las columnas como deseemos

In [23]:
datos={'Código de Estudiante':['15520012','15520814','16520113','14520087'],
      'Nombre':['Ivana','Lorena','Jorge','Claudio'],
      'Edad':[22,24,26,21]}
df_astronomia=pd.DataFrame(datos, columns=['Edad', 'Nombre', 'Código de Estudiante'])
df_astronomia

   Edad   Nombre Código de Estudiante
0    22    Ivana             15520012
1    24   Lorena             15520814
2    26    Jorge             16520113
3    21  Claudio             14520087

Otra forma de crear un DataFrame es la siguiente:

In [24]:
datos = [['15520012','Ivana',22],['15520814','Lorena',24],['16520113','Jorge',26],['14520087','Claudio',21]]
df_astronomia = pd.DataFrame(datos,columns=['Código de Estudiante','Nombre','Edad'])
df_astronomia

  Código de Estudiante   Nombre  Edad
0             15520012    Ivana    22
1             15520814   Lorena    24
2             16520113    Jorge    26
3             14520087  Claudio    21

In [25]:
df_astronomia.shape

(4, 3)

Para llamar a una columna podemos usar __['Nombre']__ o __.Nombre__

In [26]:
df_astronomia['Nombre']
#df_astronomia.Nombre

0      Ivana
1     Lorena
2      Jorge
3    Claudio
Name: Nombre, dtype: object

De manera similar a la serie, podemos extraer datos usando los atributos __iloc__ y __loc__ . Debido a que el DataFrame es bidimensional, pasar un solo valor al operador de indexación loc devolverá una serie si solo hay una fila para devolver.

In [27]:
df_astronomia.loc[1]

Código de Estudiante    15520814
Nombre                    Lorena
Edad                          24
Name: 1, dtype: object

Dado que el resultado de usar los operadores de indexación (DataFrame o series) pueden encadenar operaciones, podemos hacer la siguiente consulta

In [28]:
df_astronomia.loc[3]['Nombre']

'Claudio'

#### Agregar columnas

In [29]:
#Agregaremos una columna con las notas de la primera práctica
df_astronomia['Práctica 1']=[8,11,12,11]

In [30]:
df_astronomia

  Código de Estudiante   Nombre  Edad  Práctica 1
0             15520012    Ivana    22           8
1             15520814   Lorena    24          11
2             16520113    Jorge    26          12
3             14520087  Claudio    21          11

In [31]:
#df_astronomia.drop?

#### Eliminar datos

In [32]:
df_astronomia.drop('Edad',axis=1)

  Código de Estudiante   Nombre  Práctica 1
0             15520012    Ivana           8
1             15520814   Lorena          11
2             16520113    Jorge          12
3             14520087  Claudio          11

La función drop no cambia el DataFrame por defecto, devuelve una copia del DataFrame con las filas dadas eliminadas.

In [33]:
df_astronomia

  Código de Estudiante   Nombre  Edad  Práctica 1
0             15520012    Ivana    22           8
1             15520814   Lorena    24          11
2             16520113    Jorge    26          12
3             14520087  Claudio    21          11

Para poder trabajar con los datos eliminados, usualmente se asigna a una nueva variable usando __copy__ y eliminando los datos que no usaremos

In [34]:
copia_df_astronomia = df_astronomia.copy()
copia_df_astronomia = copia_df_astronomia.drop('Edad',axis=1)
copia_df_astronomia

  Código de Estudiante   Nombre  Práctica 1
0             15520012    Ivana           8
1             15520814   Lorena          11
2             16520113    Jorge          12
3             14520087  Claudio          11

__¿Por qué usar copy?__
<br>__Cuando asignamos un subconjunto en otra variable, los cambios que hagamos en esta nueva variable afectarán a nuestros datos iniciales__

In [35]:
df_astronomia_notas=df_astronomia.loc[:2]
df_astronomia_notas

  Código de Estudiante  Nombre  Edad  Práctica 1
0             15520012   Ivana    22           8
1             15520814  Lorena    24          11
2             16520113   Jorge    26          12

In [36]:
df_astronomia_notas['Práctica 1']=[5,5,5]
df_astronomia_notas

C:\Users\Sistema\Anaconda3\envs\Ambiente\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  Código de Estudiante  Nombre  Edad  Práctica 1
0             15520012   Ivana    22           5
1             15520814  Lorena    24           5
2             16520113   Jorge    26           5

In [37]:
df_astronomia

  Código de Estudiante   Nombre  Edad  Práctica 1
0             15520012    Ivana    22           5
1             15520814   Lorena    24           5
2             16520113    Jorge    26           5
3             14520087  Claudio    21          11

### Observación

In [38]:
#Los siguientes producen resultados diferentes:
df_astronomia_notas=df_astronomia.loc[:2,['Práctica 1']]
#df_astronomia_notas=df_astronomia.loc[:2]['Práctica 1']
#df_astronomia_notas=df_astronomia[:2]['Práctica 1']
df_astronomia_notas

   Práctica 1
0           5
1           5
2           5

## Lectura de Archivos

Para leer los diferentes tipos de archivos usamos los siguientes comandos:
<table style="width: 30%" align="left">
   <tr>
      <th>Formato</th>
      <th>Llamado</th>
   </tr>
   <tr>
      <td>txt,csv</td>
      <td>read_table, read_csv</td>
   </tr>
   <tr>
      <td>pickle</td>
      <td>read_pickle</td>
   </tr>
   <tr>
      <td>HDF5</td>
      <td>read_hdf, HDFStore</td>
   </tr>
   <tr>
      <td>SQL</td>
      <td>read_sql_table</td>
   </tr>
   <tr>
      <td>Excel</td>
      <td>read_excel</td>
   </tr>
v</table>

In [39]:
#pd.read_excel?

Ahora llamaremos una tabla que contiene el medalleros de los juegos olimpicos. donde 1! son las medallas de oro, 2! las de plata y 3! las de bronce

In [40]:
df = pd.read_csv('olympics.csv')
df.head()

FileNotFoundError: [Errno 2] File b'olympics.csv' does not exist: b'olympics.csv'

## Indexación

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Oro' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Plata' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronce' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

## Consultas en Dataframes

La búsqueda en Dataframes tiene su base en el enmascaramiento booleano. Las máscaras booleanas se crean aplicando operadores directamente a la serie de pandas o Objetos DataFrame.

Por ejemplo, en nuestro conjunto de datos de los Juegos Olímpicos, es posible que estemos interesados en ver solo aquellos países que han logrado una medalla de oro en los Juegos Olímpicos de verano. Para construir una máscara booleana para esta consulta, proyectamos la columna de oro usando el operador de indexación y aplicamos el operador "mayor que" con un valor de comparación de cero.

In [ ]:
df['Oro'] > 0

Lo que queremos hacer a continuación es superponer esa máscara en el DataFrame. Podemos hacer esto usando la función where. La función where toma una máscara booleana como condición, la aplica al marco de datos o serie, y devuelve un nuevo marco de datos o serie de la misma forma.

In [ ]:
solo_oro = df.where(df['Oro'] > 0)
solo_oro.head()

Todos los países que no cumplieron con la condición tienen datos de NaN en su lugar. Esto está bien. La mayoría de las funciones estadísticas integradas en el objeto de marco de datos ignoran los valores de NaN.

In [ ]:
solo_oro['Oro'].count()

In [ ]:
df['Oro'].count()

Una forma es eliminar loa valores perdidos, para ello usamos __dropna__

In [ ]:
solo_oro = solo_oro.dropna()
solo_oro.head()

No tenemos que usar explícitamente la función where. Pandas permiten que operador de indexación tome una máscara booleana como un valor en lugar de solo una lista de nombres de columnas.

In [ ]:
solo_oro = df[df['Oro'] > 0]
solo_oro.head()

La salida de dos máscaras booleanas se compara con operadores lógicos Es otra máscara booleana. Esto significa que puede encadenar un montón de declaraciones y / o para crear consultas más complejas, y el resultado es una única máscara booleana.

In [ ]:
len(df[(df['Oro'] > 0) | (df['Oro.1'] > 0)])

In [ ]:
df[(df['Oro.1'] > 0) & (df['Oro'] == 0)]

## Reindexación

Digamos que no queremos indexar el DataFrame por países, pero En su lugar, desea indexar por el número de medallas de oro que se ganaron en los juegos de verano. Primero necesitamos preservar la información del país en una nueva columna. Podemos hacer esto usando el operador de indexación o la cadena que tiene la etiqueta de columna. Luego, podemos usar set_index para establecer el índice de la columna para ganar la medalla de oro de verano.

In [ ]:
df['pais'] = df.index
df = df.set_index('Oro')
df.head()

In [ ]:
df = df.reset_index()
df.head()

También se pueden hacer indexaciones multinivel. Para ello usaremos census.csv este conjunto de datos contiene datos de población de los condados y estados de los EE. UU. De 2010 a 2015, la descripción de las variables se encuentran en este [enlace](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf)

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

Vamos a deshacernos de todas las filas que son resúmenes a nivel de estado y sólo mantén los datos del condado

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
df

Y nos centraremos solo en determinadas columnas

In [ ]:
columnas_a_usar = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columnas_a_usar]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

Para realizar consultas en un MultiIndex, debemos proporcionar los argumentos en orden, por el nivel que se desea consultar. Dentro del índice, cada columna se llama nivel y la columna más externa es el nivel cero

In [ ]:
df.loc['Michigan', 'Washtenaw County']

## Fusionado

A menudo encontraremos que los datos que necesitamos no están en un solo archivo, sino que se encuentran en varios archivos de texto, hojas de cálculo o bases de datos.

In [ ]:
personal_df = pd.DataFrame([{'Nombre': 'Kelly', 'Puesto': 'Director'},
                         {'Nombre': 'Sally', 'Puesto': 'Psicologo'},
                         {'Nombre': 'Julio', 'Puesto': 'Supervisor'}])
personal_df = personal_df.set_index('Nombre')
estudios_df = pd.DataFrame([{'Nombre': 'Julio', 'Carrera': 'Finanzas'},
                           {'Nombre': 'Miguel', 'Carrera': 'Psicologia'},
                           {'Nombre': 'Sally', 'Carrera': 'Ingenieria'}])
estudios_df = estudios_df.set_index('Nombre')
print(personal_df.head())
print()
print(estudios_df.head())

In [ ]:
pd.merge(personal_df, estudios_df, how='outer', left_index=True, right_index=True)

In [ ]:
pd.merge(personal_df, estudios_df, how='inner', left_index=True, right_index=True)

In [ ]:
pd.merge(personal_df, estudios_df, how='left', left_index=True, right_index=True)

In [ ]:
pd.merge(personal_df, estudios_df, how='right', left_index=True, right_index=True)

In [ ]:
personal_df = personal_df.reset_index()
estudios_df = estudios_df.reset_index()
pd.merge(personal_df, estudios_df, how='left', left_on='Nombre', right_on='Nombre')

In [ ]:
personal_df = pd.DataFrame([{'Nombre': 'Kelly', 'Puesto': 'Director','Condición':'Activo'},
                         {'Nombre': 'Sally', 'Puesto': 'Psicologo','Condición':'Activo'},
                         {'Nombre': 'Julio', 'Puesto': 'Supervisor','Condición':'Inactivo'}])
estudios_df = pd.DataFrame([{'Nombre': 'Julio', 'Carrera': 'Finanzas','Condición':'Doctor'},
                           {'Nombre': 'Miguel', 'Carrera': 'Psicologia','Condición':'Licenciado'},
                           {'Nombre': 'Sally', 'Carrera': 'Ingenieria','Condición':'Magister'}])
pd.merge(personal_df, estudios_df, how='left', left_on='Nombre', right_on='Nombre')

In [ ]:
personal_df = pd.DataFrame([{'Nombre': 'Kelly', 'Apellido': 'Martinez', 'Puesto': 'Director'},
                         {'Nombre': 'Sally', 'Apellido': 'Egoavil', 'Puesto': 'Psicologo'},
                         {'Nombre': 'Julio', 'Apellido': 'Rodriguez', 'Puesto': 'Supervisor'}])
estudios_df = pd.DataFrame([{'Nombre': 'Julio', 'Apellido': 'Fabian', 'Carrera': 'Finanzas'},
                           {'Nombre': 'Miguel', 'Apellido': 'Lopez', 'Carrera': 'Psicologia'},
                           {'Nombre': 'Sally', 'Apellido': 'Egoavil', 'Carrera': 'Ingenieria'}])
pd.merge(personal_df, estudios_df, how='inner', left_on=['Nombre','Apellido'], right_on=['Nombre','Apellido'])

## Group by

In [ ]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df

In [ ]:
%%timeit -n 10
for estado in df['STNAME'].unique():
    promedio = np.average(df.where(df['STNAME']==estado).dropna()['CENSUS2010POP'])
    print('Los condados en el estado ' + estado + ' tienen una población media de ' + str(promedio))

In [ ]:
%%timeit -n 10
for grupo, cuadro in df.groupby('STNAME'):
    promedio = np.average(cuadro['CENSUS2010POP'])
    print('Los condados en el estado ' + grupo + ' tienen una población media de ' + str(promedio))

In [ ]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]

In [ ]:
df.groupby('STNAME').agg({'CENSUS2010POP': np.average})

In [ ]:
print(type(df.groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']))
print(type(df.groupby(level=0)['POPESTIMATE2010']))

In [ ]:
(df.set_index('STNAME').groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'avg': np.average, 'sum': np.sum}))

## Fecha y Hora

In [ ]:
pd.Timestamp('5/4/2018 10:05AM')

In [ ]:
pd.Period('1/2018')

In [ ]:
pd.Period('3/5/2018')

In [ ]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2018-09-01'), pd.Timestamp('2018-09-02'), pd.Timestamp('2018-09-03')])
t1

In [ ]:
type(t1.index)

In [ ]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])
t2

In [ ]:
type(t2.index)

Pandas acepta varias formas de escribir las fechas

In [ ]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, columns=list('ab'))
ts3

In [ ]:
ts3.index = pd.to_datetime(ts3.index)
ts3

In [ ]:
pd.to_datetime('4.7.12', dayfirst=True)

Intervalos de tiempo

In [ ]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

In [ ]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

### Trabajando dataframe con fechas

In [ ]:
fechas = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
fechas

In [ ]:
df = pd.DataFrame({'Conteo 1': 100 + np.random.randint(-5, 10, 9),
                  'Conteo 2': 120 + np.random.randint(-5, 10, 9)}, index=fechas)
df

In [ ]:
df.index.weekday_name

In [ ]:
df.diff()

In [ ]:
df.resample('M').mean()

In [ ]:
df.asfreq('W', method='ffill')

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

df.plot()

### Referencias

https://pandas.pydata.org/
<br>https://github.com/jonathanrocher/pandas_tutorial/blob/master/analyzing_and_manipulating_data_with_pandas_manual.pdf
<br>https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf